.priceHeader {
  /* FIXME: import image from json-server */
  background: url('../assets/images/fireside-chairs.jpg') center/cover;
  color: white;
  min-height: 45vh;
  margin-top: 60px;
}

.media {
  box-shadow: 15px 15px 15px grey;
  background: rgb(248, 248, 248);
}

.media-image {
  width: 400px;
  margin: 20px;
}
